{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<!-- Bootstrap CSS -->
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'Ajax.css' %}">
	<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="{% static 'jsfile.js' %}" type="text/javascript"></script>
	<meta charset="UTF-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
	<title>Temukan Buku Yang Kamu Inginkan</title>
</head>


<body style="font-family: 'Comic Sans MS'; color: white; background-color: #3E3938;">
	<div class="container" align="center" style="margin-top: 5%">
		<div id="judul" style="font-size: 40px;"><center><strong>Temukan Buku Yang Kamu Inginkan</strong></center></div><br>
		<div style="margin-bottom: 3%">
			<input id="input" type="text" placeholder="Judul buku">
			<input id="button" 	type="submit" value="Cari">
		</div>

		<table class="table" style="font-size: 20px; color: white;">
			<thead>
		    <tr>
		    	<th scope="col">Sampul</th>
			    <th scope="col">Judul</th>
			    <th scope="col">Penulis</th>
			    <th scope="col">Tahun Terbit</th>
				</tr>
			</thead>
			<tbody id="result"></tbody>
		</table>
	</div>
</body>
</html>